<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <div class="modal-body">
      <%= link_to "", employees_path, class: "btn btn-close btn-sm" %>
      <hr class="divider" />
      <%= render "form", employee: @employee %>
    </div>
  </div>
<% end %>
