<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <%= link_to employees_path do %>
      <%= image_tag "x-circle", class: "icon-s mb-3" %>
    <% end %>

    <%= render "form", employee: @employee %>
  </div>
<% end %>
