<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <div>
      <%= link_to "", employees_path, class: "btn btn-close btn-sm" %>
      <hr class="divider" />
    </div>

    <%= render "form", employee: @employee %>

  </div>
<% end %>
