<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <div class="d-flex justify-content-end mb-3">
      <%= link_to "", employees_path, class: "btn btn-close btn-sm" %>
    </div>
    <div class="d-flex">
      <%= image_tag "employee", size: "80", class: "mx-auto mb-3" %>
    </div>

    <%= render "form", employee: @employee %>

  </div>
<% end %>
