@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import 'colors.scss';
@import 'custom.scss';
@import 'buttons.scss';
@import 'modal.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Josefin Sans';
}

a {
  text-decoration: none;
}

.fonte {
  font-weight: 20;
  letter-spacing: 1px;
}

.dean-modal-footer {  
  position: relative;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
/*  border-radius: 50%;*/
  object-fit: cover;
}

.card-img-top {
  object-fit: cover;
}

.card.pricing {
  width: 24rem;
  border-color: rgb(116, 185, 153);
  border-width: 3px;
  border-radius: 2px;
}

.alert.alert-warning.alert-dismissible.fade.show {
  border-radius: 0px;
  margin-bottom: 0px;
}
