@import 'colors.scss';
@import 'custom.scss';
@import 'buttons.scss';
@import 'modal.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

.fonte {
  font-weight: 20;
  letter-spacing: 1px;
}

.dean-modal-footer {  
  position: relative;
}

a {
  text-decoration: none;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
/*  border-radius: 50%;*/

  object-fit: cover;
}

.card-img-top {
  object-fit: cover;
}

.icon-s {
  height: 25px;
}

.white-border, .white-border:hover {
  border-color: white;
}

.card.pricing {
  width: 24rem;
  border-color: rgb(116, 185, 153);
  border-width: 3px;
  border-radius: 2px;
}

.alert.alert-warning.alert-dismissible.fade.show {
  border-radius: 0px;
  margin-bottom: 0px;
}
