/* color variables */
  $sabre-blue: #2f294d;
  $lolipop-blue: #8582e2;
  $light-blue: #c9d6f7;
  $lighter-blue: #d6dffd;
  $pink: #ffb1ee;
  $light-pink: #f7c9ed;
  $purple: #5c5a97;
  $light-purple: #d1c8fc;
/* end */
/* color classes */
  .text-white {
    color: white;
  }

  .sabre-blue {
    background-color: $sabre-blue;
    color: white;
  }

  .lolipop-blue {
    background-color: $lolipop-blue;
    color: white;
  }

  .light-blue {
    background-color: $light-blue;
  }

  .lighter-blue {
    background-color: $lighter-blue;
  }

  .pink {
    background-color: $pink;
  }

  .light-pink {
    background-color: $light-pink;
  }

/* end */
