/*Required*/
@import "../node_modules/bootstrap/scss/functions";

/*Variable overrides*/
$primary: $lolipop-blue;
$secondary: $light-blue;
/*$btn-border-color: white;*/
$dropdown-link-hover-bg: $light-pink;
$dropdown-link-active-bg: $pink;
$dropdown-link-active-color: black;
$list-group-hover-bg: $light-pink;
$list-group-action-active-bg: $pink;
$list-group-action-hover-color: black;

$navbar-light-color: white;
$navbar-light-hover-color: $light-purple;
$navbar-light-active-color: $light-purple;


/*Required*/
@import "../node_modules/bootstrap/scss/variables";
/*@import "../node_modules/bootstrap/scss/maps";*/
@import "../node_modules/bootstrap/scss/mixins";



